.user_info_div{
    /* border:  2px solid; */
    padding: .5rem;
    width: 25rem;
    margin: 0rem auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 5px rgb(226, 219, 219);
    border-radius: .2rem;

}
.info{
    /* border: solid 2px; */
    padding: .5rem;
    text-align: start;
}
.circle{
    margin: 0rem auto !important;

}