
.names{
    display: block;
    width: 22rem;
    margin: 0rem auto;
    height: 2rem;
    font-size: 1rem;
    padding: .2rem;
    border-radius: .3rem;
    margin-top: 1.5rem;
    border: .1rem solid;
    outline: none;
}
.gender{
    display: block;

    width: 22.6rem;
    margin: 0rem auto;
    height: 2.8rem;
    font-size: 1rem;
    padding: .2rem;
    border-radius: .3rem;
    margin-top: 1.5rem;
    border: .1rem solid;
    outline: none;
}
.btn{
    margin-top: 1.5rem;
    width: 22.5rem;
    border: none;
    outline: none;
    background-color: #3f51b5;
    padding: .7rem;
    font-size: 1rem;
    border-radius: .3rem;
    color: white;
}
.btn:hover{
    cursor: pointer;
}
.btn:active{
    opacity: .5;
    transition: 2s;
}

.error_msg{
    color: red;
    font-size: .8em;
    /* border: 2px solid; */
    width: fit-content;
    margin: 0rem auto;
    /* margin-left: -.5rem; */
}